@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root{
    --color1:#161d3e;
    --color2:rgb(228, 228, 228);
    --color3:#ad0021;
    --color4:white;
    --color5:#bcb35e;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    font-family: Ubuntu;
    width: 100%;
    height: 100%;
}
.body{
    background-color: var(--color2);
    display: grid;
    grid-template-rows:60px auto ;
    width: 100%;
    height: 100%;
}
.ranking{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px 0px;
}