.Nanav{
    position: relative;
    background-color: var(--color3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    color: var(--color4);
}
.Nalogo{
    width: 40px;
    height: 40px;
    background-image: url(../../../../assets/logo.PNG);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.Nanav-pt1{
    width: 270px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Nainput input{
    width: 190px;
    height: 24px;
    border: 0px;
    outline: none;
    border-radius: var(--border-radius);
    padding: 2px 7px;
}
.Nainput{
    width: 200px;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Nainput span{
    position: absolute;
    right: 5px;
    top: -1.5px;
    color: var(--color5);
}
.Nanav-pt2{
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Nanav-pt2 span{
    cursor: pointer;
    position: relative;
}
.Nanav-pt2 span:hover{
    color: var(--color5);
}
.Nanav-pt2 span:nth-child(1):hover::after{
    font-family:Ubuntu;
    content:"Inicio";
    width: 35px;
    height: 12px;
    font-size: 11px;
    position: absolute;
    background-color: var(--color2);
    color: black;
    top: -10px;
    right: -32px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border: .5px solid black;
}
.Nanav-pt2 span:nth-child(2):hover::after{
    font-family:Ubuntu;
    content:"Ranking";
    width: 48px;
    height: 12px;
    font-size: 11px;
    position: absolute;
    background-color: var(--color2);
    color: black;
    top: -10px;
    right: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border: .5px solid black;
}
.Nanav-pt2 span:nth-child(3):hover::after{
    font-family:Ubuntu;
    content:"Valoracion";
    width: 60px;
    height: 12px;
    font-size: 11px;
    position: absolute;
    background-color: var(--color2);
    color: black;
    top: -10px;
    right: -55px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border: .5px solid black;
}
.Nanav-pt3{
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.Nauser{
    width: 40px;
    height: 40px;
    background-image: url(../../../../assets/profile.jfif);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.Nanav-pt3 p{
    position: relative;
    bottom:2px;
    font-size: 13px;
}
.Nanav-pt3:hover > p{
    color: var(--color5);
}
.Namenu{
    position: absolute;
    bottom: -73px;
    right: 5px;
    background-color: var(--color1);
    border-radius: 5px;
    transition: .3s all ease;
    -webkit-box-shadow: 0px 7px 10px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 10px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 10px -12px rgba(0,0,0,0.75);
}
.Namenu-disactive{
    opacity: 0;
}
.Namenu ul{
    padding: 8px 10px;
    margin: 0px;
}
.Namenu ul li{
    list-style: none;
    margin:0px 0px 5px;
    font-size: 13px;
    cursor: pointer;
}
.Namenu ul li:hover{
    color: var(--color5);
}
.Namenu ul li:last-child{
    margin: 0px;
}