.Prbody{
    background-color: var(--color2);
    display: grid;
    grid-template-rows:60px auto ;
    grid-template-columns: 300px auto;
    grid-template-areas: "nav nav"
                         "profile stats"   ;
    width: 100%;
    height: 100%;
}
.Nanav{
    grid-area: nav;
}
.Prperson{
    grid-area: profile;
    padding: 20px;
    height: 500px;
    position: sticky;
    top:0px;
}
.Prstats{
    grid-area: stats;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.Prperson-img{
    background-image: url(../../../../global/assets/profile.jfif);
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    transition: 1s all ease;
}
.Prperson-img:hover{
    filter: brightness(50%);
}
.Pr-MenuImg{
    position: absolute;
    top: 20px;
    right: 20px;
    transition: .5s all ease;
}
.Pr-Menu-Disactive{
    opacity: 0;
}
.Pr-MenuImg ul{
    list-style: none;
    background-color: var(--color1);
    width: 165px;
    height: 57px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px 0px;
    border-radius: 5px;
}
.Pr-MenuImg ul li{
    margin: 0px 7px;
    font-size: 13px;
    color: white;
    cursor: pointer;
}
.Prperson-profile h1{
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}
.Prperson-profile p{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
.Prdescripcion{
    font-size: 12px;
    margin-bottom: 12px;
}
.Prperson-stars{
    width: 130px;
    height: 25px;
    display: flex;
    justify-content: space-evenly;
    margin-top: -5px;
}
.Prperson-stars div{
    width: 25px;
    height: 25px;
    background-color: var(--color5);
    clip-path: var(--cliphy-star);
}
.Prperson-gustos{
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0px 15px;
}
.Prgustos{
    font-size: 12px;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0px;
}
.Prgustos p{
    width: 50px;
    height: 20px;
    background-color: var(--color1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 5px;
    padding-bottom: 3px;
    color: white;
    margin-top: 5px;
}
.Prlogros{
    font-size: 12px;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0px;
}
.Prlogros p{
    width: 50px;
    height: 20px;
    background-color: var(--color1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 5px;
    padding-bottom: 3px;
    color: white;
}
.Prperson-logros{
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0px;
}
.Prsocial{
    font-size: 14px;
    margin-top: 10px;
}
.Prsocial p{
    margin-bottom:7px;
    cursor: pointer;
}
.Prsocial p:hover{
    text-decoration: underline;
}
.Prsocial p div{
    position: relative;
    top: 1.5px;
    width: 17px;
    display: inline-block;

}
.Prstats-container{
    background-color: var(--color4);
    width: 80%;
    min-width: 700px;
    height: 500px;
    border-radius: var(--border-radius);
    border: var(--border);
    margin-bottom: 10px;
    padding: 5px 10px;
    box-shadow: var(--box-shadow);
}
.Prsearch{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Prstats-title{
    position: relative;
    display: flex;
}
.Prcontainer-stats{
    width: 250px;
    height: 445px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: auto;
}
.Prcvelocimeter{
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Prstat{
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
}
.Prtitle-stat{
    font-weight: 600;
    position:relative;
}
.Prtitle-stat span::after{
    content: "Belleza";
    top:-15px;
    left: 10px;
    width: 39px;
    height: 12px;
    font-size: 11px;
    position: absolute;
    background-color: var(--color2);
    color: black;
    font-family: Ubuntu;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
}
.Prstat:nth-child(2) .Prtitle-stat span:after{
    content: "Personalidad";
    left: 10px;
    width: 69px;
}
.Prstat:nth-child(3) .Prtitle-stat span:after{
    content: "Humor";
    left: 10px;
    width: 39px;
}
.Prstat:nth-child(4) .Prtitle-stat span:after{
    content: "Inteligencia";
    left: 10px;
    width: 63px;
}
.Prstat:nth-child(5) .Prtitle-stat span:after{
    content: "Sociabilidad";
    left: 10px;
    width: 65px;
}
.Prstat:hover > .Prtitle-stat span::after{
    opacity: 1;
}
.Prpoints-ofstat{
    height: 10px;
    width: 150px;
    background-color: var(--color2);
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    margin: 0px 10px;
}
.Prpoints{
    height: 10px;
    width: 80px;
    background-color: var(--color3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Prvelocimeterbox{
    width: 280px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Prvelocimeterboard{
    width: 280px;
    height: 140px;
    position: relative;
    overflow: hidden;
}
.Prvelocimeter{
    width: 280px;
    height: 160px;
    position: relative;
}
.Prvelocimeterboard div:nth-child(1){
    background-color: var(--color3);
    width: 280px;
    height: 280px;
    clip-path: circle(50% at 50% 50%);
    position: absolute;
    top: 0px;
    left: 0px;
}
.Prvelocimeterboard div:nth-child(2){
    background-color: var(--color4);
    width: 250px;
    height: 250px;
    clip-path: circle(50% at 50% 50%);
    position: absolute;
    left: 15px;
    top: 15px;
}
.Prvelocimeterpointer{
    width: 280px;
    height: 160px;
    position: absolute;
    top: 0px;
}
.Prvelocimeterpointer div {
    width: 15px;
    height: 130px;
    position: absolute;
    bottom: 15px;
    left: 132.5px;
}

.Prvelocimeterpointer div div:nth-child(1){
    width: 7.5px;
    height: 120px;
    position: absolute;
    bottom: 8px;
    left: 3.5px;
    background-color: black;
    clip-path: polygon(35% 0, 65% 0, 100% 100%, 0% 100%);
}
.Prvelocimeterpointer div div:nth-child(2){
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: black;
    clip-path: circle(50% at 50% 50%);
}
.Prvelocimeterbox input{
    width: 47px;
    padding: 3px 0px 3px 13px;
    padding-right: -10px;
    -webkit-appearance:none;
    pointer-events: none;
    background: none;
    outline: none;
    border: var(--border);
    border-radius: var(--border-radius);
}
.Prsearch p{
    font-weight: 600;
}
.Prinput{
    position: relative;
    width: 190px;
}
.Prinput input{
    width: 190px;
    height: 26px;
    outline: none;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 4px 7px;
}
.Prinput span{
    position: absolute;
    right: 1px;
    bottom: 0px;
}
.Prsearch{
    margin-top: 10px;
    margin-bottom: -2px;
    width: 80%;
    min-width: 700px;
}
.Prranking{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

