
.inputscontainer div p{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 2px;
}
.stars{
    width: 130px;
    height: 25px;
    display: flex;
    justify-content: space-evenly;
}
.stars div{
    width: 25px;
    height: 25px;
    background-color: var(--color5);
    clip-path: var(--cliphy-star);
}
.filters{
    grid-area: filters;
    padding: 20px 27px;
    height: 100vh;
    position: sticky;
    top: 0px;
}
.ranking{
    grid-area: content;
    padding: 20px 0px;
}
.ads{
    grid-area: ads;
    padding: 20px;
}
.filter-container-Peoples{background-color: var(--color4);
    border: var(--border);
    border-radius: var(--border-radius);
    width: 200px;
    padding: 10px;
    box-shadow: var(--box-shadow);
}
.gender input{
    margin-right: 5px;
}
.gender label{
    font-size: 13px;
}