.Lgbody{
    background-color: black;
    display: grid;
    grid-template-columns:minmax(400px,52%) auto ;
    width: 100%;
    height: 100vh;
    padding: 20px;
    transition: all ease 1s;
}
.Lgimg{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
}
.Lgimg .img1{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../../utilities/foto1.jpeg);
    filter: brightness(50%);
    background-size: cover;
    background-position: center;
    transition: 1s opacity ease;
    opacity: 1;
}
.Lgimg .img2{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../../utilities/foto2.jpg);
    filter: brightness(50%);
    background-size: cover;
    background-position: center;
    transition: 1s opacity ease;
    opacity: 1;
}
.Lgimg .img3{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../../utilities/foto3.jpg);
    filter: brightness(50%);
    background-size: cover;
    background-position: center;
    transition: 1s opacity ease;
    opacity: 1;
}
.Lgimg .img4{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../../utilities/foto4.jfif);
    filter: brightness(50%);
    background-size: cover;
    background-position: center;
    transition: 1s opacity ease;
    opacity: 1;
}
.Lgdisapear{
    opacity: 0 !important;
}
.Lg-pt1{
    z-index: 100;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: var(--color2);
}
.Lg-pt2{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Lg-card{
    width: 350px;
    height:256px;
    background-color: var(--color4);
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 10px 13px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Lg-titulo{
    font-size: 18px;
    font-weight: 600;
}
.Lginput-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.Lginput-container label{
    font-size: 11px;
}
.Lgolvidaste{
    font-size: 11px;
}
.Lginput-container input{
    width: 100%;
    height: 26px;
    outline: none;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 4px 7px;
    margin: 0px 0px 10px;
}
.Lginput{
    width: 100%;
}
.Lg-card hr{
    width: 100%;
    margin: 10px 0px;
}
.Lg-card button{
    width: 110px;
    height: 30px;
    margin: 0px 0px 10px;
    background-color: var(--color1);
    color: var(--color2);
    border-radius: var(--border-radius);
    border:0px;
    outline: none;
}