
.Vabody{
    background-color: var(--color2);
    display: grid;
    grid-template-rows:60px auto ;
    grid-template-areas: "nav" "container";
    width: 100%;
    height: 100%;
}
.Nanav{
    grid-area: nav;
}
.Vacontainer{
    grid-area: container;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "filters content ads";
}
.Varanking{
    grid-area: content;
    padding: 20px 0px;
}
.Vaads{
    grid-area: ads;
    padding: 20px;
}