.Prbody{
    background-color: var(--color2);
    display: grid;
    grid-template-rows:60px auto ;
    grid-template-columns: 300px auto;
    grid-template-areas: "nav nav"
                         "profile stats"   ;
    width: 100%;
    height: 100%;
}
.Nanav{
    grid-area: nav;
}
.Prperson{
    grid-area: profile;
    padding: 20px;
    height: 500px;
    position: sticky;
    top:0px;
}
.Prstats{
    grid-area: stats;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.Prperson-img{
    background-image: url(../../utilities/profile.jfif);
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.Pr-MenuImg{
    position: absolute;
    top: 20px;
    right: 20px;
    transition: .5s all ease;
}
.Pr-Menu-Disactive{
    opacity: 0;
}
.Pr-MenuImg ul{
    list-style: none;
    background-color: var(--color1);
    width: 165px;
    height: 57px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px 0px;
    border-radius: 5px;
}
.Pr-MenuImg ul li{
    margin: 0px 7px;
    font-size: 13px;
    color: white;
    cursor: pointer;
}
.Prperson-profile h1{
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}
.Prperson-profile p{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.Prperson-stars{
    width: 170px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-top: -5px;
}
.Prperson-stars div{
    width: 30px;
    height: 30px;
    background-color: var(--color5);
    clip-path: var(--cliphy-star);
}
.Prperson-gustos{
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0px;
}
.Prgustos{
    font-size: 12px;
    width: 180px;
    height: 77px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0px;
}
.Prgustos p{
    width: 50px;
    height: 20px;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 5px;
    padding-bottom: 3px;
    color: white;
    margin-top: 5px;
}
.Prlogros{
    font-size: 12px;
    width: 180px;
    height: 77px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0px;
}
.Prlogros p{
    width: 50px;
    height: 20px;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 5px;
    padding-bottom: 3px;
    color: white;
}
.Prperson-logros{
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0px;
}
.Prstats-container{
    background-color: var(--color4);
    width: 80%;
    min-width: 700px;
    height: 500px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 5px 10px;
    box-shadow: var(--box-shadow);
}
.Prsearch{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Prstats-title{
    position: relative;
}
.Prcontainer-stats{
    width: 90%;
    height: 445px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin: 0px 5%;
    padding: auto;
}
.Prstat{
    height: 170px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px 50px;
}
.Prtitle-stat{
    font-weight: 600;
}
.Prpoints-ofstat{
    width: 15px;
    height: 110px;
    background-color: var(--color2);
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    margin: 10px 0px;
}
.Prpoints{
    width: 15px;
    height: 80px;
    background-color: red;
    border-radius: 10px;
}
.Prmedia{
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 14px;
    font-weight: 600;
}
.Prinput{
    position: relative;
    width: 190px;
}
.Prinput input{
    width: 190px;
    height: 24px;
    border: 1px solid gray;
    outline: none;
    border-radius: 4px;
    padding: 2px 7px;
}
.Prinput span{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.Prsearch{
    margin-top: 10px;
    margin-bottom: -2px;
    width: 80%;
    min-width: 700px;
}
.Prranking{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

