@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root{
    --color1:#161d3e;
    --color2:rgb(228, 228, 228);
    --color3:#ad0021;
    --color4:white;
    --color5:#bcb35e;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    font-family: Ubuntu;
    width: 100%;
    height: 100%;
}
.Prbody{
    background-color: var(--color2);
    display: grid;
    grid-template-rows:60px auto ;
    grid-template-columns: 300px auto;
    grid-template-areas: "nav nav"
                         "profile stats"   ;
    width: 100%;
    height: 100%;
}
.Nanav{
    grid-area: nav;
}
.Prperson{
    grid-area: profile;
    padding: 20px;
}
.Prstats{
    grid-area: stats;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.Prperson-img{
    background-image: url(../../utilities/profile.jfif);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.Prperson-profile h1{
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}
.Prperson-profile p{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.Prperson-gustos{
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0px;
}
.Prgustos{
    font-size: 12px;
    width: 180px;
    height: 77px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0px;
}
.Prgustos p{
    width: 50px;
    height: 20px;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 5px;
    padding-bottom: 3px;
    color: white;
    margin-top: 5px;
}
.Prlogros{
    font-size: 12px;
    width: 180px;
    height: 77px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0px;
}
.Prlogros p{
    width: 50px;
    height: 20px;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 5px;
    padding-bottom: 3px;
    color: white;
}
.Prperson-logros{
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0px;
}
.Prstats-container{
    background-color: var(--color4);
    width: 80%;
    min-width: 700px;
    height: 500px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 5px 10px;
}
.Prsearch{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Prstats-title{
    position: relative;
}
.Prcontainer-stats{
    width: 100%;
    height: 445px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}
.Prstat{
    height: 170px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px 63px;
}
.Prtitle-stat{
    font-weight: 600;
}
.Prpoints-ofstat{
    width: 15px;
    height: 110px;
    background-color: var(--color2);
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    margin: 10px 0px;
}
.Prpoints{
    width: 15px;
    height: 80px;
    background-color: red;
    border-radius: 10px;
}
.Prmedia{
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 14px;
    font-weight: 600;
}
.Prranking{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

